<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile de Thearylou Lach</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <div id="app" :class="theme">
        <!---------------------------------Header------------------------------->
        <header>
            <nav class="navbar navbar-expand bg-transparent" :class="theme == 'dark' ? 'navbar-dark' : 'navbar-light'">
                <div class="container">
                    <!--------------------Centrer la navigation au milieu sur col-8 et prend toute la largeur de l'ecran------------------------------->
                    <div class="row w-100 justify-content-center">
                        <div class="col col-lg-8 d-flex justify-content-center align-items-center p-0">
                            <ul class="navbar-nav flex-grow-1 ps-3">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html#accueil">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="index.html#projets">Projets</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="index.html#contacts">Contacts</a>
                                </li>
                            </ul>
                            <!------------------changement de theme---------------------------------------->
                            <button @click="toggleTheme" class="btn mt-1 p-0">
                                <i
                                    :class="theme == 'dark' ? 'bi bi-sun-fill text-white fs-5' : 'bi bi-moon-fill text-dark fs-5'"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!----------- v-if sert a charger le json et affiche apres avoir recuperer le ID et ses donnes------------>
        <main class="container mt-4 pt-md-4 pt-2" v-if="projet">
            <div class="projet-border p-3 pt-md-3 pb-md-5 p-md-0 p-xl-5 pt-xl-4">

                <!-------------------------------Projet------------------------------>
                <!---------------------------Photo et titre------------------------------>
                <section class="container mt-4 ">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <img v-if="projet.images.length" :src="projet.images[0]" alt="photo"
                                class="img-fluid photo-projet" />
                            <h1 class="mt-2">{{ projet.title }}</h1>
                            <a :href="projet.link">{{ projet.link }}</a>
                        </div>

                    </div>
                </section>

                <!-------------------------------Description------------------------
 -->
                <section class="container mt-5 ">
                    <div class="row justify-content-center">
                        <div class="col col-lg-8 mt-5">
                            <h2>Description</h2>
                            <p>{{projet.description}}
                            </p>
                        </div>

                    </div>
                </section>


                <!-------------------------------categorie-------------------------->
                <section class="container mt-5 ">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2>Catégorie</h2>
                            <p>{{projet.category}}
                            </p>
                        </div>

                    </div>
                </section>

                <!-------------------------------equipe-------------------------->
                <section class="container mt-5 ">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2>Équipe</h2>
                            <p>{{projet.team}}
                            </p>
                        </div>

                    </div>
                </section>


                <!------------------------------competences---------------------------->
                <section class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2>Compétences</h2>


                            <div class="col-3 pillule-projet" v-for="(skill, index) in projet.skills" :key="index">
                                <span class="mb-0">{{ skill }}</span>
                            </div>
                        </div>
                    </div>
                </section>

                <!------------------------------conception-(pour le projet avec le processus de creation et s'affiche seulement pour lui)--------------------------->

                <section v-show="showProject" class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2>Conception</h2>
                            <h4 class="mt-4">Planche d'inspiration</h4>
                            <img :src="projet.images[4]" alt="photo" class="img-fluid" />
                            <h4 class="mt-5">Planche de styles</h4>
                            <p>La planche doit contenir un logo (original ou nouveau), une police de caractère (2 max),
                                exemple de menu navigation, une palette de couleur et des inspirations.</p>
                            <img :src="projet.images[5]" alt="photo" class="img-fluid photo-conception" />
                            <h4 class="mt-5">Arborescence</h4>
                            <p>On doit choisir la page d'accueil et deux pages secondaires à redésigner.</p>
                            <img :src="projet.images[6]" alt="photo" class="img-fluid " />
                            <h4 class="mt-5">Maquette filaire</h4>
                            <p>La maquette filaire sert avant tout à planifier et structurer l’interface d’un site web
                                sans
                                se concentrer sur le design graphique.

                                Utilisation d'une grille à 12 colonnes pour aider à aligner les éléments. Chaques
                                éléments
                                doivent avoir un écart qui fait du sense. Pour montrer que c'est une image, on fait un
                                "X"
                                et augmente l'oppacité de l'élément. Les textes ne sont pas finaux. Lora: Chaque élément
                                doit avoir ou Les éléments doivent</p>
                            <img :src="projet.images[7]" alt="photo" class="img-fluid " />

                            <p class="mt-3">Le site orignal a trop d'éléments qui apparaît sur notre face donc j'ai
                                décidé
                                de simplifier
                                le design en séparant les différentes sections en bloc. J'ai bougé le menu de navigation
                                vers le haut de la page au lieu de sur le côté. Lora: Proposition de reformulation: Le
                                site
                                original a trop d'éléments qui apparaissent simultanément, j'ai donc décidé de
                                simplifier le
                                design en séparant les différentes sections en blocs.</p>

                            <h5 class="mt-5 col-6 ">Page accueil</h5>
                            <img :src="projet.images[8]" alt="photo" class="img-fluid col-6 photo-conception" />
                            <h5 class="mt-5">Page admission</h5>
                            <img :src="projet.images[9]" alt="photo" class="img-fluid col-6 photo-conception" />

                            <h4 class="mt-5 ">Maquette graphique</h4>
                            <p>La maquette graphique aide à passer de la structure fonctionnelle à une représentation
                                plus
                                proche du design final. J'ai utilisé des images et de la couleur pour créer un contraste
                                entre les différentes sections et les boutons du site. La maquette graphique doit être
                                interactive dans le mode prototype de Figma.</p>
                            <h5 class="mt-5">Page accueil</h5>
                            <img :src="projet.images[10]" alt="photo" class="img-fluid col-6 photo-conception" />
                            <h5 class="mt-5">Page admission</h5>
                            <img :src="projet.images[11]" alt="photo" class="img-fluid col-6 photo-conception" />


                        </div>
                    </div>
                </section>


                <!-------------------------------Images------------------------------>
                <section class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-md-4 mt-4">
                                    <img :src="projet.images[1]" alt="photo" class="img-fluid photo-exemple" />
                                </div>
                                <div class="col-md-4 mt-4">
                                    <img :src="projet.images[2]" alt="photo" class="img-fluid photo-exemple" />
                                </div>
                                <div class="col-md-4 mt-4">
                                    <img :src="projet.images[3]" alt="photo" class="img-fluid photo-exemple" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </div>

        </main>

        <footer class="container d-flex justify-content-center mt-5 pt-5">© Thearylou Lach 2025</footer>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>



</body>

</html>