@import url(https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap);

body {
    background-color: #02182B;
    color: white;
    font-family: 'Zalando Sans', sans-serif;
    font-weight: lighter;
}



.text-purple {
    color: #7067CF;
    font-weight:bold;
}

.photo {
    border-radius: 50%;
    aspect-ratio: 1/1;
    
}

.competence-border {
    border: 1.7px solid white;
    border-radius: 30px;
}

.card{
    border: 1.7px solid white;
    border-radius: 30px;
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-body{
    padding: none;
}
.projets-titre {
    margin-bottom: 24px;
}

.contact {
    border: 1.7px solid white;
    border-radius: 30px;
}