@import url(https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap);

html {
    margin: 0;
    padding: 0;
    background-color: transparent;
}


h1 {
    font-size: 2.475em;

}

a {
    text-decoration: none;
    color: white;
}

.light a {
    color: black;
}

body {
    background-color: #02182B;
    color: white;
    font-family: 'Zalando Sans', sans-serif;
    font-weight: lighter;
    transition: background-color 0.3s ease, color 0.3s ease;

}



body.dark {
    transition: background-color 0.3s ease, color 0.3s ease;
}

svg {
    transition: fill 0.3s ease,
}

body.light {
    background-color: #F8F9FA;
    color: black;

}


/* --------------Navigation----------*/
.navbar-nav {
    font-size: 1.025em;
    font-weight: 200;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.nav-link {
    transition: color 0.1s ease;
}

.nav-link:hover {
    color: white;

}

.light .nav-link:hover {
    color: black;

}

/* --------------A propos----------*/
.text-propos {
    text-align: justify;
}

.text-purple {
    color: #8273D3;
    font-weight: bold;
}


.dark .text-purple {
    color: #8273D3;
    font-weight: bold;
}

.light .text-purple {
    color: #7060CD;
    font-weight: bold;
}


.photo-profile {
    border-radius: 50%;
    aspect-ratio: 1/1;
    max-width: 100%;
    height: 69%;
    object-fit: cover;
    object-position: 50% 30%;


}

.bi-github:hover {
    color: #8273D3;
}

.bi-linkedin:hover {
    color: #8273D3;
}

.bi-envelope-at-fill:hover {
    color: #8273D3;
}

.light .bi-github:hover {
    color: #7060CD;
}

.light .bi-linkedin:hover {
    color: #7060CD;
}

.light .bi-envelope-at-fill:hover {
    color: #8273D3;
}

.social-icon {
    color: inherit;
    text-decoration: none;
}

.email-text:hover {
    color: #8273D3;
}

.light .email-text:hover {
    color: #7060CD;
}

.projet-link {
    color: #8273D3;
}

.light .projet-link {
    color: #7060CD;
}

/* --------------Competences----------*/
.competence-border {
    border: 1.8px solid #2C496B;
    background-color: #021628;
    border-radius: 16px;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.light .competence-border {
    border: 1.8px solid #c4c4c4;
    background-color: #F1F3F5;
    border-radius: 16px;
}

.carousel {
    overflow: hidden;
    width: 100%;
}

.carousel-sub {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    animation: scroll 16s linear infinite;
}

.carousel:hover .carousel-sub {
    animation-play-state: paused;
}

.group {
    display: flex;
    gap: 2em;
    padding-right: 1.9em;
}

.logo {
    flex: 0 0 auto;
    height: 6em;
    padding: 1em;
    transition: transform 0.2s ease;
}

.logo:hover {
    transform: scale(1.07);
    font-weight: 230;

}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* --------------Projets----------*/
.card {
    border: 1.8px solid #2C496B;
    border-radius: 16px;
    background-color: #021628;
    color: #E0E6ED;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
}




.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    min-height: 4.5em;
}

.light .card {
    color: black;
    border: 1.8px solid #c4c4c4;
    background-color: #F1F3F5;
}

.light .card:hover {
    border: 1.8px solid rgb(27, 27, 27);
    background-color: rgb(27, 27, 27);
    color: white;

}


.card:hover {
    border: 1.8px solid rgb(239, 241, 245);
    background-color: rgb(239, 241, 245);
    color: black;
    cursor: pointer;

}

.card-img-top {
    height: 225px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}



.card-body {
    padding: none;
}

.photo-projet {
    object-fit: cover;
}


.pilule {
    border-radius: 16px;
    color: black;
    background-color: rgb(224, 230, 236);

    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 4px 12px;
    font-weight: 330;
    font-size: 0.8em;
    white-space: nowrap;
    flex-shrink: 1;
    max-width: 100%;
    --bs-gutter-x: 0;
}

.pilule-projet {
    background-color: #695deb;
    color: white;
    padding: 0.5em 5em;
    margin: 5px;
    border-radius: 50px;
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-wrap: nowrap;

}

.light .pilule-projet {
    background-color: #8C83EC;
    color: black;


}

.pills-row {
    display: flex;
    justify-content: flex-start;
    gap: 0.6rem;

}


.light .pilule {
    color: white;
    background-color: #121212;

}


.card:hover .pilule {
    background-color: #695deb;
    color: #F8F9FA;


}

.light .card:hover .pilule {
    background-color: #8C83EC;
    color: #111111;


}

.photo-projet {
    max-width: 100%;
    width: 100%;
    height: 368px;
    border-radius: 8px;
    display: block;

}

/* ------------Contacts----------*/
.contact {
    border: 1.8px solid #2C496B;
    background-color: #021628;
    color: #E0E6ED;
    border-radius: 16px;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.light .contact {
    border: 1.8px solid #c4c4c4;
    color: black;
    background-color: #F1F3F5;
}


.projets-titre {
    margin-bottom: 24px;
}




/* --------------Media query----------*/
@media (max-width: 512px) {
    .emoji {
        display: none;

    }

    .photo-projet {
        height: 268px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    h1 {
        font-size: 2.25em;
    }

    .photo-profile {

        height: 87%;

    }
}


@media (min-width: 991px) and (max-width: 1199px) {
    .photo-profile {
        max-width: 25%;
        height: auto;

    }
}

@media (max-width: 990px) {
    .photo-profile {
        max-width: 35%;
        height: auto;

    }
}


@media (max-width: 767px) {
    .photo-profile {
        max-width: 50%;
        height: auto;

    }
}


/* --------------projet.html----------*/
.projet-border {
    position: relative;



}

.projet-border::before {
    transition: background-color 0.3s ease, border 0.3s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 840px;
    max-width: 100%;
    height: 100%;
    border: 1.9px solid #2C496B;
    border-radius: 16px;
    pointer-events: none;
    box-sizing: border-box;
    background-color: #021628;
    z-index: -1;


}

@media (min-width: 1200px) and (max-width: 1399px) {
    .projet-border::before {
        width: 45em;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .projet-border::before {
        width: 38em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .projet-border::before {
        width: 42em;
    }
}

@media (max-width: 767px) {
    .projet-border::before {
        width: 31em;
    }
}

.light .projet-border::before {
    border: 1.9px solid #c4c4c4;
    background-color: #F1F3F5;
}


.photo-conception {
    width: 50%;

}


.photo-exemple {
    max-width: 100%;
    width: 100%;
    height: 256px;
    border-radius: 8px;
    object-fit: fill;


}

.carousel-inner {

    border-radius: 16px;

}


.carousel-inner img {
    height: 450px;
    object-fit: cover;
    object-position: top;
}